/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

:root {
  --lav-color-purple: #7e5b9b;
  --lav-color-green: #72c4b9;
  --lav-color-green-tint: #80cac0;
  --lav-color-dark-grey: #7b8fa6;
  --lav-color-light-grey: #d1d6dc;
  --lav-color-grey-bg: #f4f6fc;
  --lav-color-greyed-out: #d1d8dc;
}
