<div class="quotes">
  <div class="buttons-container">
    <button>Sort by upVotes</button>
    <button>Sort by date</button>
  </div>
  <table class="quotes-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Upvotes</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Quote 1 title</td>
        <td>Quote 1 Upvotes</td>
        <td>Quote 1 Date</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Quote 2 title</td>
        <td>Quote 2 Upvotes</td>
        <td>Quote 2 Date</td>
      </tr>
    </tbody>
  </table>
</div>
