<div class="quotes">
  <div class="buttons-container">
    <button>Sort by upVotes</button>
    <button>Sort by date</button>
  </div>
  <table class="quotes-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Upvotes</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quotes; let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ quote.quote }}</td>
        <td>{{ quote.upVotes }}</td>
        <td>{{ quote.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
