<div class="home">
  <div class="header">
    <h1>
      <a href="https://api.chucknorris.io/" target="_blank">
        <img class="logo" src="assets/chucknorris_logo.png" alt="chucknorris logo" />
      </a>
      <span>Chuck Norris Quotes</span>
    </h1>
  </div>
  <div class="content">
    <q>Google won't search for Chuck Norris because it knows you don't find Chuck Norris, he finds you</q>
    <app-loader [isLoading]="isLoading"></app-loader>
    <app-quotes [quotes]="quotes" *ngIf="!isLoading"></app-quotes>
  </div>
</div>
